<html>
    <head>
        <title>Rudeboy API Documentation</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    </head>
    <body>
        <img src="{{ url_for('static', filename='assets/point-and-shout.jpg') }}" alt="pointing and shouting person">
        <h1>Using CURL to test the Rudeboy API</h1>
        <p>The Rudeboy API connects to the hosted models at BigML<br>
        Below is an example of a comment we are attempting to classify<br>

        </p>

        <pre>
        <code>
        $ curl https://rudeboy.bisoncorps.com/predict -d '{"comment": "I will fucking kill you"}' -H 'Content-Type: application/json'
        {"identity_hatred":{"prediction":"0","probability":0.9868},"insult":{"prediction":"0","probability":0.96364},"obscene":{"prediction":"0","probability":0.95807},"severe_toxicity":{"prediction":"0","probability":0.96764},"threat":{"prediction":"0","probability":0.74252},"toxicity":{"prediction":"0","probability":0.80705}}
        </code>
